.jumbotron {
  text-align: center;
  // background-color: rgb(241, 234, 234);
  background-image: url("https://needlite.com/media/1069/photo-editing-white-desk-front-1264.jpg?center=0.55333333333333334,0.50666666666666671&mode=crop&width=1920&height=1080&rnd=131552627690000000");
  color: white;
  height: 100vh;
}
